#container1{
	position: relative; 
	max-width: 1000px;
	max-height: 450px;
}

	.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

h2{
	margin-top: 150px;
}